@model PidginToAdiumEmoteConverter.Models.ConversionOutputReadModel

@{
    ViewBag.Title = "Pidgin Emoticon Set to Adium Emoticon Set Converter";
}

<h2>Pidgin Emoticon Set to Adium Emoticon Set Converter</h2>

<fieldset>
    <legend>Adium Output:</legend>

    <div class="display-field">
        @Html.TextAreaFor(model => model.AdiumOutput, new { @class = "input-xxlarge", @rows = "20" })
    </div>
    
    <div>
        <a class="btn btn-info btn-large" href="@Url.Action("Index")">
            <i class="icon-arrow-left icon-white"></i>&nbsp;&nbsp;New Conversion
        </a>
    </div>
</fieldset>
