@model PidginToAdiumEmoteConverter.Models.ConversionReadWriteModel

@{
    ViewBag.Title = "Pidgin Emoticon Set to Adium Emoticon Set Converter";
}

<script language="javascript" type="text/javascript">
    var activeButton = "Input";
    var inputHasBeenParsed = false;
    var outputHasBeenGenerated = false;
    var parsedInput = null;
    var generatedOutput = null;

    $(function () {
        $('#InputButton').click(function () {
            if (activeButton != 'Input') {
                $('#' + activeButton + 'Div').fadeOut(function () {
                    $('#' + activeButton + 'Button').removeClass('active');
                    $('#InputButton').addClass('active');

                    activeButton = "Input";

                    $('#InputDiv').fadeIn();
                });
            }
        });

        $('#CustomizationButton').click(function () {
            if (activeButton != "Customization") {
                if (!inputHasBeenParsed) {
                    performInputParsing();
                }

                if (inputHasBeenParsed) {
                    $('#' + activeButton + 'Div').fadeOut(function () {
                        $('#' + activeButton + 'Button').removeClass('active');
                        $('#CustomizationButton').addClass('active');

                        activeButton = "Customization";

                        $('#CustomizationDiv').fadeIn();
                    });
                }
            }
        });

        $('#OutputButton').click(function () {
            if (activeButton != "Output") {
                if (!inputHasBeenParsed) {
                    performInputParsing();
                }

                if (inputHasBeenParsed && !outputHasBeenGenerated) {
                    performOutputGeneration();
                }
                
                if (outputHasBeenGenerated) {
                    $('#' + activeButton + 'Div').fadeOut(function () {
                        $('#' + activeButton + 'Button').removeClass('active');
                        $('#OutputButton').addClass('active');

                        activeButton = "Output";

                        $('#OutputDiv').fadeIn();
                    });
                }
            }
        });
    });
    
    function performInputParsing() {
        if ($('#PidginInputText').val().length > 0) {
            $.post('@Url.Action("ParsePidginInput")', { "PidginRawInput": $('#PidginInputText').val() },
                function (data) {
                    if (data == "Parsing Error") {
                        $.alert(data);
                    }
                    else {
                        parsedInput = JSON.parse(data);

                        inputHasBeenParsed = true;

                        renderCustomizationDiv();
                    }
                }
            );
        }
    }
    
    function performOutputGeneration() {
        $.post('@Url.Action("GenerateAdiumOutput")', { "JsonDataToConvert": JSON.stringify(parsedInput) },
            function (data) {
                if (data == "Conversion Error") {
                    $.alert(data);
                }
                else {
                    generatedOutput = data;

                    outputHasBeenGenerated = true;

                    $('#AdiumOutputText').val(generatedOutput);
                }
            }
        );
    }

    function renderCustomizationDiv() {
        
    }
</script>

<h2>Pidgin Emoticon Set to Adium Emoticon Set Converter</h2>

<div style="padding-top: 10px; padding-bottom: 15px;">
    This converts a Pidgin emoticon pack's <strong>theme</strong> file to an Adium emoticon set's <strong>Emoticons.plist</strong> file.
</div>

<div class="well">
    <div id="InputDiv">
        <h3 style="padding-bottom: 10px;">Pidgin Input:</h3>
        <textarea id="PidginInputText" class="input-xxlarge span11" rows="20"></textarea>
    </div>
    <div id="CustomizationDiv" style="display: none;">
        <h3 style="padding-bottom: 10px;">Customize Names for Adium:</h3>

    </div>
    <div id="OutputDiv" style="display: none;">
        <h3 style="padding-bottom: 10px;">Adium Output:</h3>
        <textarea id="AdiumOutputText" class="input-xxlarge span11" rows="20"></textarea>
    </div>
    <div id="ButtonFooterDiv" style="padding-top: 10px;">
        <div class="btn-group">
            <button class="btn btn-large btn-primary active" id="InputButton">
                <i class="icon-list-alt icon-white"></i>&nbsp;&nbsp;<strong>Pidgin Input</strong>
            </button>
            <button class="btn btn-large btn-primary" id="CustomizationButton">
                <i class="icon-pencil icon-white"></i>&nbsp;&nbsp;<strong>Customization</strong>
            </button>
            <button class="btn btn-large btn-primary" id="OutputButton">
                <i class="icon-file icon-white"></i>&nbsp;&nbsp;<strong>Adium Output</strong>
            </button>
        </div>
    </div>
</div>